<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grayherring.databinding"
    >

  <application
      android:name=".SwagApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
      >
    <activity android:name=".activity.main.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".activity.detail.DetailsActivity"/>
    <activity android:name=".activity.addupdate.UploadActivity"/>

  </application>
  <uses-permission android:name="android.permission.INTERNET"/>

</manifest>